.example_sentences
  %b (1)
  その法案は
  %font{:color => "red"}> 今
  会期中に成立する見通しである。  The bill is expected to be enacted during the present session.
  %a{:class => "button", :href => "http://www.csse.monash.edu.au/~jwb/cgi-bin/wwwjdic.cgi?1820729545"} Amend
