%center
  %font{:size => "+1"}
    %b WWWJDIC: Online Japanese Dictionary Service
  %table{:align => "center", :cellpadding => "3", :width => "90%"}
    %tr
      %td
        %font{:color => "red"}
          News:
        June 2011: New mirror in Japan
        (See
        = succeed ")" do
          %a{:href => "http://www.csse.monash.edu.au/~jwb/wwwjdicnews.html"} details and other developments
    %tr
      %td
        %a{:href => "/wwwjdic.cgi?19C1"}
    %tr
      %td
        Mirror Sites: &nbsp;
        %A{:HREF => "/wwwjdic.cgi?1C"}
          Australia
          &nbsp;
          %a{:href => "http://ryouko.imsb.nrc.ca/cgi-bin/wwwjdic?1C"} Canada
          &nbsp;
          %a{:href => "http://jp.celltica.com/cgi-bin/wwwjdic?1C"} EU
          &nbsp;
          %a{:href => "http://wwwjdic.mygengo.com/cgi-data/wwwjdic?1C"} Japan
          &nbsp;
          %a{:href => "http://wwwjdic.se/cgi-bin/wwwjdic.cgi?1C"} Sweden
          &nbsp;
          %a{:href => "http://www.edrdg.org/cgi-bin/wwwjdic/wwwjdic?1C"} USA
    %tr
      %td
        Special Keitai (Japanese cell-phone/mobile phone) interface: &nbsp;&nbsp;
        %a{:href => "/wwwjdic.cgi?1KJ"} Jpn-Eng
        &nbsp;&nbsp;
        %a{:href => "/wwwjdic.cgi?1KE"} Eng-Jpn
        &nbsp;&nbsp;
        %a{:href => "/wwwjdic.cgi?1KG"} Text Translation
        %br
          %font{:size => "-1"}
            Works for the NTT DoCoMo,
            Vodafone JPhone, AU, Willcom and SoftBank phones.
    %tr
      %td
        %A{:HREF => "http://www.csse.monash.edu.au/~jwb/wwwbuttongen.html"}
          WWWJDIC
          buttons
          for your browser's toolbar or taskbar.
    %tr
      %td
        Silas Brown's
        %A{:HREF => "http://www.csse.monash.edu.au/~jwb/wwwjdic_g.html"}
          Access Server
          for users without Japanese fonts.
    %tr
      %td
        %a{:href => "http://www.csse.monash.edu.au/~jwb/wwwjdicfirefox.html"} WWWJDIC plugin
        for Firefox's search function.
        (
        %a{:href => "http://www1.chapman.edu/~bermu103/jpnresearch/ff_plugins.html"}> alternative plugins
        )
    %tr
      %td
        WWWJDIC banner images:
        &nbsp;&nbsp;
        %a{:href => "http://www.csse.monash.edu.au/~jwb/wwwjbanner.jpg"} large
        &nbsp;&nbsp;
        %a{:href => "http://www.csse.monash.edu.au/~jwb/wwwjbanner2.jpg"} small
    %tr
      %td
        Simple URLs:
        %a{:href => "http://wwwjdic.org/"} http://wwwjdic.org/
        &nbsp;&nbsp;
        %a{:href => "http://wwwjdic.com/"} http://wwwjdic.com/
        &nbsp;&nbsp;
        %a{:href => "http://wwwjdic.net/"} http://wwwjdic.net/
    %tr
      %td
        Ben Bullock's interfaces:
        &nbsp;&nbsp;
        %a{:href => "http://kanji.sljfaq.org/draw.html"} hand-written kanji
        &nbsp;&nbsp;
        %a{:href => "http://kanji.sljfaq.org/mr.html"} multi-radical
        &nbsp;&nbsp;
        %a{:href => "http://kanji.sljfaq.org/four.html"} four-corner
        %br
          (
          %A{:HREF => "http://www.csse.monash.edu.au/~jwb/hwr/wwwjdic_hwr.html"}
            Former hand-written interface
            )
