.mp3
  Listen
  - japanese_pod_mp3 entry
  %form(style='display:inline')
    %input{:name => "Action", :class => 'button flag', :type => "submit", :value => "Flag", :title => "Report a problem with this audio clip"}/


.entry_links
  %a{:class => 'button', :href => "http://www.edrdg.org/jmdictdb/cgi-bin/edform.py?svc=jmdict&sid=&q=1288860", :title => "Edit this entry"} Edit
  %a{:class => 'button', :href => "http://www.csse.monash.edu.au/~jwb/cgi-bin/wwwjdic.cgi?1Q%BA%A3_1_%A4%B3%A4%F3", :title => "Example sentences"} Ex
  %a{:class => 'button', :href => "http://www.japanesepod101.com/wwwjdic/%E4%BB%8A", :title => "Lesson from JapanesePod101.com"} L
  %a{:class => 'button',:href => "http://www.google.com/search?q=%22%BA%A3%22&amp;hl=en&amp;lr=lang_ja&amp;ie=euc-jp", :title => "Google"} G
  %a{:class => 'button',:href => "http://images.google.com/images?q=%22%BA%A3%22&amp;hl=en&amp;ie=euc-jp", :title => "Google Images"} GI
  %a{:class => 'button',:href => "http://dictionary.goo.ne.jp/srch/all/%E4%BB%8A/m1u/", :title => "Sanseido dictionary"} S
  %a{:class => 'button',:href => "http://eow.alc.co.jp/%BA%A3/EUC-JP/", :title => "ALC dictionary"} A
  %a{:class => 'button',:href => "http://ja.wikipedia.org/wiki/%E4%BB%8A", :title => "Japanese Wikipedia"} W
  %a{:class => 'button',:href => "http://nlpwww.nict.go.jp/wn-ja/cgi/wn-synset.cgi?term=%E4%BB%8A&lang=jpn&Query=Search+WN", :title => "Japanese WordNet"} JW




/%font{:size => "-1"} Options: [V]erb conjugations, [F] Feedback [Promote] Move to JMdict/EDICT.
