%center
  WWWJDIC site: Monash University
  &copy; Copyright 2011,
  = succeed "." do
    %a{:href => "http://www.edrdg.org/"} Electronic Dictionary Research and Development Group
  (
  %a{:href => "http://www.csse.monash.edu.au/~jwb/wwwjdicinf.html#copyr_tag"}> Details
  ) (
  %a{:href => "http://www.csse.monash.edu.au/~jwb/wwwjdicinf.html#disc_tag"}> Disclaimer
  )
