%script(src = "/audiock.js"       type = "text/javascript")

%script(src='/jquery.min.js'      type = "text/javascript")
%script(src='/ICanHaz.min.js'     type = "text/javascript")
%script(src='/auto_complete.js'   type = "text/javascript")

%link{:href => "/application.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/buttons.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/wwwjdic.ico", :rel => "shortcut icon"}/

:javascript
  $(document).ready(function(){
    $('#search').focus();
  });

