%table.hdr{:width => "100%"}
  %tr
    %td.hdr{:rowspan => "2"}
      %img{:align => "left", :alt => "JIM", :src => "/jim_th.jpg"}/
      %span{:style => "font-size: 9pt; font-family: Helvetica, sans-serif; color:  #FFFFFF"} Jim Breen's
      %br
      %b
        %span{:style => "font-size: 14pt; font-family: Helvetica, sans-serif; color: #FFFFFF"} WWWJDIC
    %td.hdr
      %a{:href => "/word-search"} Word Search/Home
    %td.hdr
      %a{:href => "/wwwjdic.cgi?9T"} Text Glossing
    %td.hdr
      %a{:href => "/wwwjdic.cgi?1B"} Kanji Lookup
    %td.hdr
      %a{:href => "/wwwjdic.cgi?1R"} Multi-Radical Kanji
    %td.hdr
      %a{:href => "/wwwjdicinf.html"} User Guide
    %td.hdr
      %a{:href => "/wwwjdicinf.html#dicfil_tag"} Dictionaries
  %tr
    %td.hdr
      %a{:href => "/wwwjdic.cgi?10"} Example Search
    %td.hdr
      %a{:href => "http://www.edrdg.org/jmdictdb/cgi-bin/edform.py?svc=jmdict&c=1"} Enter New Entry
    %td.hdr
      %a{:href => "/wwwjdic.cgi?14"} New Examples
    %td.hdr
      %a{:href => "/wwwjdic.cgi?19B"} Customize
    %td.hdr
      %a{:href => "/wwwjdicinf.html#code_tag"} Dictionary Codes
    %td.hdr
      %a{:href => "/wwwjdicinf.html#don_tag"} Donations
