!!!
%html
  %head
    %meta{:content => "text/html; charset=#{CHARACTER_ENCODING}", "http-equiv" => "Content-Type"}/
    %title WWWJDIC: Example File Browsing
    = partial 'head'
  %body{:bgcolor => "ivory", :onload => "sf()", :text => "black"}
    = partial 'header'

    %form#inp{:action => "/wwwjdic.cgi?11", :method => "GET", :name => "inp"}
      %font{:size => "-3"} &nbsp;
      %br/
      %a{:href => "http://www.csse.monash.edu.au/~jwb/wwwjdicinf.html#examp_tag"}
        Information about these examples
      Some
      %a{:href => "http://www.csse.monash.edu.au/~jwb/wwwjexinf.html"}
        instructions and advice
      about the function.
      %p
        Enter Japanese or English text/regular expression to match in the examples file.
        %br/
        Text/Regex:
        &nbsp;
        %input{:name => "exsrchstr", :size => "40", :type => "text", :value => ""}
        Set limit on number of examples (max 100):
        %input{:name => "exsrchnum", :size => "5", :type => "text", :value => "20"}
        %br/
        %input{:type => "submit", :value => "Begin Selection"}
        %input{:type => "reset", :value => "Reset"}
    = partial :footer
