<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD><META http-equiv="Content-Type" content="text/html; charset=euc-jp"><TITLE>WWWJDIC: Multirad Kanji</TITLE>
    <style type="text/css">
      <!-- table.hdr { border-collapse: collapse; border: 2px solid #0000cc;}
      td.hdr { background: #0000cc; text-align: center; vertical-align: middle; font-weight: bold; border: 1px solid #0066CC; padding: 2px; }
      td.hdr a:link, td.hdr a:visited, td.hdr a:hover, td.hdr a:active { height: 2em; color: white; vertical-align: middle; font-size: 1.0em; font-family: Helvetica, sans-serif; text-decoration: none; font-weight: bold; }
      td.hdr a:hover { text-decoration: underline; }
      --></style>
    <style type="text/css">
      <!-- .pu{CURSOR: help;}
      -->
    </style>
    <link rel="icon" href="http://www.csse.monash.edu.au/~jwb/wwwjdic.ico" type="image/x-icon">
    </HEAD><BODY  BGCOLOR="ivory" TEXT="black">
    <table class="hdr" width="100%"><tr><td class="hdr" rowspan="2"><img src="http://www.csse.monash.edu.au/~jwb/jim_th.jpg" align="left" alt="JIM"><span style="font-size: 9pt; font-family: Helvetica, sans-serif; color:  #FFFFFF">Jim Breen's </span><br>
          <b><span style="font-size: 14pt; font-family: Helvetica, sans-serif; color: #FFFFFF">WWWJDIC</span></b></td>
        <td class="hdr"><a href="/wwwjdic.cgi?1C">Word Search/Home</a>
          </td><td class="hdr"><a href="/wwwjdic.cgi?9T">Text Glossing</a>
          </td><td class="hdr"><a href="/wwwjdic.cgi?1B">Kanji Lookup</a>
          </td><td class="hdr"><a href="/wwwjdic.cgi?1R">Multi-Radical Kanji</a>
          </td><td class="hdr"><a href="http://www.csse.monash.edu.au/~jwb/wwwjdicinf.html">User Guide</a>
          </td><td class="hdr"><a href="http://www.csse.monash.edu.au/~jwb/wwwjdicinf.html#dicfil_tag">Dictionaries</a>
        </td>
        </tr><tr>
        <td class="hdr"><a href="/wwwjdic.cgi?10">Example Search</a>
          </td><td class="hdr"><a href="http://www.edrdg.org/jmdictdb/cgi-bin/edform.py?svc=jmdict&c=1">Enter New Entry</a>
          <td class="hdr"><a href="/wwwjdic.cgi?14">New Examples</a>
            </td><td class="hdr"><a href="/wwwjdic.cgi?19B">Customize</a>
            </td><td class="hdr"><a href="http://www.csse.monash.edu.au/~jwb/wwwjdicinf.html#code_tag">Dictionary Codes</a>
            </td><td class="hdr"><a href="http://www.csse.monash.edu.au/~jwb/wwwjdicinf.html#don_tag">Donations</a>
        </td></table>
        <FORM NAME="inp" ID="inp" ACTION="/wwwjdic.cgi?1S" METHOD="POST" >
          <font size="-3">&nbsp;</font><br>
          <b>Radical Table for Multi-Radical Selection.</b><br>
          Select the radicals/elements which are in the kanji you seek by clicking on the box below the element, then click on
          <INPUT TYPE="submit" VALUE="Find">
          .
          <br>Optional stroke-count (nn) or range (nn-mm): <INPUT TYPE="text" NAME="strcnt" SIZE=10 VALUE=""> Limit to Jouyou/Jinmeiyou kanji:
          <INPUT TYPE="checkbox" NAME="jouyoulim" VALUE="on" > Include JIS X 0212 kanji:
          <INPUT TYPE="checkbox" NAME="jis212ok" VALUE="on" >&nbsp;&nbsp;
          <INPUT TYPE="reset" VALUE="Reset">
          <table border><tr>
              <td><b><font color="red" size="+1">1</font></b></td>
              <td>一<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B0%EC"></td>
              <td>｜<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%A1%C3"></td>
              <td>丶<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D0%A6"></td>
              <td>ノ<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%A5%CE"></td>
              <td>乙<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B2%B5"></td>
              <td>亅<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D0%AD"></td>
              <td><b><font color="red" size="+1">2</font></b></td>
              <td>二<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C6%F3"></td>
              <td>亠<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D0%B5"></td>
              <td>人<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BF%CD"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/js01.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B2%BD"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/js02.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D0%A4"></td>
              <td>儿<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D1%B9"></td>
              <td>入<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C6%FE"></td>
              <td>ハ<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%A5%CF"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/js07.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D6%F5"></td>
              <td>冂<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D1%C4"></td>
              <td>冖<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D1%CC"></td>
              <td>冫<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D1%D2"></td>
              <td>几<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D1%DC"></td>
              <td>凵<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D1%E1"></td>
              <td>刀<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C5%E1"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/3331.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B4%A2"></td>
              <td>力<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CE%CF"></td>
              <td>勹<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D2%B1"></td>
              <td>匕<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D2%B8"></td>
              <td>匚<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D2%B9"></td>
              <td>十<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BD%BD"></td>
              <td>卜<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CB%CE"></td>
              </tr><tr>
              <td>卩<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D2%C7"></td>
              <td>厂<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D2%CC"></td>
              <td>厶<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D2%D3"></td>
              <td>又<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CB%F4"></td>
              <td>マ<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%A5%DE"></td>
              <td>九<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B6%E5"></td>
              <td>ユ<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%A5%E6"></td>
              <td>乃<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C7%B5"></td>
              <td><b><font color="red" size="+1">3</font></b></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/6134.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B9%FE"></td>
              <td>口<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B8%FD"></td>
              <td>囗<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D3%F8"></td>
              <td>土<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C5%DA"></td>
              <td>士<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BB%CE"></td>
              <td>夂<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D4%E9"></td>
              <td>夕<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CD%BC"></td>
              <td>大<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C2%E7"></td>
              <td>女<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BD%F7"></td>
              <td>子<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BB%D2"></td>
              <td>宀<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D5%DF"></td>
              <td>寸<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C0%A3"></td>
              <td>小<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BE%AE"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/js04.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BE%B0"></td>
              <td>尢<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D5%F7"></td>
              <td>尸<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D5%F9"></td>
              <td>屮<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D6%A5"></td>
              <td>山<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BB%B3"></td>
              <td>川<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C0%EE"></td>
              <td>巛<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D6%DF"></td>
              <td>工<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B9%A9"></td>
              </tr><tr>
              <td>已<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D6%E1"></td>
              <td>巾<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B6%D2"></td>
              <td>干<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B4%B3"></td>
              <td>幺<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D6%F6"></td>
              <td>广<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D6%F8"></td>
              <td>廴<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D7%AE"></td>
              <td>廾<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D7%B0"></td>
              <td>弋<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D7%B5"></td>
              <td>弓<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B5%DD"></td>
              <td>ヨ<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%A5%E8"></td>
              <td>彑<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D7%C0"></td>
              <td>彡<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D7%C4"></td>
              <td>彳<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D7%C6"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/3D38.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CB%BB"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/3F37.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D9%A9"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/4653.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BD%C1"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/4A6D.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C8%C8"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/js03.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%E7%E8"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/kozatoR.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CB%AE"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/kozatoL.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%EF%F4"></td>
              <td>也<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CC%E9"></td>
              <td>亡<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CB%B4"></td>
              <td>及<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B5%DA"></td>
              <td>久<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B5%D7"></td>
              <td><b><font color="red" size="+1">4</font></b></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/js05.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CF%B7"></td>
              <td>心<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BF%B4"></td>
              <td>戈<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%D8%F9"></td>
              <td>戸<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B8%CD"></td>
              <td>手<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BC%EA"></td>
              </tr><tr>
              <td>支<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BB%D9"></td>
              <td>攵<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%DA%BE"></td>
              <td>文<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CA%B8"></td>
              <td>斗<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C5%CD"></td>
              <td>斤<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B6%D4"></td>
              <td>方<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CA%FD"></td>
              <td>无<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%DA%DB"></td>
              <td>日<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C6%FC"></td>
              <td>曰<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%DB%A9"></td>
              <td>月<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B7%EE"></td>
              <td>木<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CC%DA"></td>
              <td>欠<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B7%E7"></td>
              <td>止<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BB%DF"></td>
              <td>歹<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%DD%C6"></td>
              <td>殳<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%DD%D5"></td>
              <td>比<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C8%E6"></td>
              <td>毛<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CC%D3"></td>
              <td>氏<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BB%E1"></td>
              <td>气<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%DD%E3"></td>
              <td>水<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BF%E5"></td>
              <td>火<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B2%D0"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/4944.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%DB%BF"></td>
              <td>爪<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C4%DE"></td>
              <td>父<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C9%E3"></td>
              <td>爻<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%E0%AB"></td>
              <td>爿<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%E0%AD"></td>
              <td>片<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CA%D2"></td>
              <td>牛<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B5%ED"></td>
              <td>犬<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B8%A4"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/504B.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CE%E9"></td>
              </tr><tr>
              <td>王<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B2%A6"></td>
              <td>元<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B8%B5"></td>
              <td>井<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B0%E6"></td>
              <td>勿<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CC%DE"></td>
              <td>尤<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CC%E0"></td>
              <td>五<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B8%DE"></td>
              <td>屯<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C6%D6"></td>
              <td>巴<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C7%C3"></td>
              <td>毋<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%DD%D9"></td>
              <td><b><font color="red" size="+1">5</font></b></td>
              <td>玄<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B8%BC"></td>
              <td>瓦<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B4%A4"></td>
              <td>甘<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B4%C5"></td>
              <td>生<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C0%B8"></td>
              <td>用<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CD%D1"></td>
              <td>田<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C5%C4"></td>
              <td>疋<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C9%A5"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/4D46.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%E1%CB"></td>
              <td>癶<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%E2%A2"></td>
              <td>白<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C7%F2"></td>
              <td>皮<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C8%E9"></td>
              <td>皿<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BB%AE"></td>
              <td>目<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CC%DC"></td>
              <td>矛<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CC%B7"></td>
              <td>矢<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CC%F0"></td>
              <td>石<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C0%D0"></td>
              <td>示<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BC%A8"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/5072.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%E3%BB"></td>
              <td>禾<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B2%D3"></td>
              <td>穴<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B7%EA"></td>
              </tr><tr>
              <td>立<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CE%A9"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/5C33.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BD%E9"></td>
              <td>世<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C0%A4"></td>
              <td>巨<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B5%F0"></td>
              <td>冊<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BA%FD"></td>
              <td>母<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CA%EC"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/5474.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C7%E3"></td>
              <td>牙<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B2%E7"></td>
              <td><b><font color="red" size="+1">6</font></b></td>
              <td>瓜<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B1%BB"></td>
              <td>竹<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C3%DD"></td>
              <td>米<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CA%C6"></td>
              <td>糸<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BB%E5"></td>
              <td>缶<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B4%CC"></td>
              <td>羊<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CD%D3"></td>
              <td>羽<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B1%A9"></td>
              <td>而<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BC%A9"></td>
              <td>耒<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%E6%D0"></td>
              <td>耳<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BC%AA"></td>
              <td>聿<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%E6%E6"></td>
              <td>肉<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C6%F9"></td>
              <td>自<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BC%AB"></td>
              <td>至<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BB%EA"></td>
              <td>臼<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B1%B1"></td>
              <td>舌<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C0%E5"></td>
              <td>舟<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BD%AE"></td>
              <td>艮<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BA%B1"></td>
              <td>色<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BF%A7"></td>
              <td>虍<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%E9%C8"></td>
              <td>虫<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C3%EE"></td>
              </tr><tr>
              <td>血<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B7%EC"></td>
              <td>行<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B9%D4"></td>
              <td>衣<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B0%E1"></td>
              <td>西<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C0%BE"></td>
              <td><b><font color="red" size="+1">7</font></b></td>
              <td>臣<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BF%C3"></td>
              <td>見<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B8%AB"></td>
              <td>角<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B3%D1"></td>
              <td>言<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B8%C0"></td>
              <td>谷<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C3%AB"></td>
              <td>豆<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C6%A6"></td>
              <td>豕<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%EC%B5"></td>
              <td>豸<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%EC%B8"></td>
              <td>貝<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B3%AD"></td>
              <td>赤<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C0%D6"></td>
              <td>走<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C1%F6"></td>
              <td>足<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C2%AD"></td>
              <td>身<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BF%C8"></td>
              <td>車<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BC%D6"></td>
              <td>辛<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BF%C9"></td>
              <td>辰<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C3%A4"></td>
              <td>酉<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C6%D3"></td>
              <td>釆<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C8%D0"></td>
              <td>里<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CE%A4"></td>
              <td>舛<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C1%A4"></td>
              <td>麦<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C7%FE"></td>
              <td><b><font color="red" size="+1">8</font></b></td>
              <td>金<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B6%E2"></td>
              <td>長<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C4%B9"></td>
              <td>門<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CC%E7"></td>
              </tr><tr>
              <td>隶<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%F0%B0"></td>
              <td>隹<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%F0%B2"></td>
              <td>雨<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B1%AB"></td>
              <td>青<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C0%C4"></td>
              <td>非<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C8%F3"></td>
              <td>奄<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B1%E2"></td>
              <td>岡<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B2%AC"></td>
              <td>免<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CC%C8"></td>
              <td>斉<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C0%C6"></td>
              <td><b><font color="red" size="+1">9</font></b></td>
              <td>面<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CC%CC"></td>
              <td>革<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B3%D7"></td>
              <td>韭<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%F0%EC"></td>
              <td>音<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B2%BB"></td>
              <td>頁<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CA%C7"></td>
              <td>風<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C9%F7"></td>
              <td>飛<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C8%F4"></td>
              <td>食<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BF%A9"></td>
              <td>首<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BC%F3"></td>
              <td>香<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B9%E1"></td>
              <td>品<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C9%CA"></td>
              <td><b><font color="red" size="+1">10</font></b></td>
              <td>馬<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C7%CF"></td>
              <td>骨<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B9%FC"></td>
              <td>高<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B9%E2"></td>
              <td>髟<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%F1%F5"></td>
              <td>鬥<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%F2%A8"></td>
              <td>鬯<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%F2%AE"></td>
              <td>鬲<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%F2%AF"></td>
              <td>鬼<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B5%B4"></td>
              </tr><tr>
              <td>竜<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CE%B5"></td>
              <td>韋<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%F0%EA"></td>
              <td><b><font color="red" size="+1">11</font></b></td>
              <td>魚<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B5%FB"></td>
              <td>鳥<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C4%BB"></td>
              <td>鹵<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%F3%C3"></td>
              <td>鹿<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BC%AF"></td>
              <td>麻<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CB%E3"></td>
              <td>亀<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B5%B5"></td>
              <td><img src="http://www.csse.monash.edu.au/~jwb/gif212/3557.png" alt="image"><br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C5%A9"></td>
              <td>黄<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B2%AB"></td>
              <td>黒<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B9%F5"></td>
              <td><b><font color="red" size="+1">12</font></b></td>
              <td>黍<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B5%D0"></td>
              <td>黹<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%F3%E3"></td>
              <td>無<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%CC%B5"></td>
              <td>歯<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%BB%F5"></td>
              <td><b><font color="red" size="+1">13</font></b></td>
              <td>黽<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%F3%E6"></td>
              <td>鼎<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C5%A4"></td>
              <td>鼓<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%B8%DD"></td>
              <td>鼠<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C1%CD"></td>
              <td><b><font color="red" size="+1">14</font></b></td>
              <td>鼻<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%C9%A1"></td>
              <td>齊<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%F3%EE"></td>
              <td><b><font color="red" size="+1">17</font></b></td>
              <td>龠<br><INPUT TYPE="checkbox" NAME="radsel" VALUE="%F3%FE"></td>
          </tr></table>
          <INPUT TYPE="submit" VALUE="Find">the Kanji which contains the selected radicals/elements.
          <INPUT TYPE="reset" VALUE="Reset">
          Max. kanji displayed: <INPUT TYPE="text" NAME="radlim" SIZE=5 VALUE="100"></form>
        <hr>
        <FORM ACTION="/wwwjdic.cgi?1S" METHOD="POST">
          Paste a kanji to find its elements: <INPUT TYPE="text" NAME="eleshow" SIZE=6>
          <INPUT TYPE="submit" VALUE="Show Elements">
          <INPUT TYPE="reset" VALUE="Reset">
        </form>
        <hr>
        <center><font size="-1"> WWWJDIC site: Monash University  &nbsp; &nbsp;  &#169; Copyright 2011, <a href="http://www.edrdg.org/">Electronic Dictionary Research and Development Group</a>. (<a href="http://www.csse.monash.edu.au/~jwb/wwwjdicinf.html#copyr_tag">Details</a>) (<a href="http://www.csse.monash.edu.au/~jwb/wwwjdicinf.html#disc_tag">Disclaimer</a>)
        </font></center>
      </BODY>
    </HTML>
