= partial 'word_search_form'

.container
  #results
    %h1
      %span.emphasis
        =  @edict_entries.count
        - if @edict_entries.count != 1
          results
        - else
          result

      for
      %span.emphasis= @query

    -@edict_entries.each_with_index do |e, index|
      = partial 'edict_entry', :locals => {:entry => e, :result_number => index + 1}

